<p id="notice"><%= notice %></p>

<p>
  <strong>Geography:</strong>
  <%= @town_health_record.geography %>
</p>

<p>
  <strong>Total pop year 2005:</strong>
  <%= @town_health_record.total_pop_year_2005 %>
</p>

<p>
  <strong>Age 0 9 year 2005:</strong>
  <%= @town_health_record.age_0_9_year_2005 %>
</p>

<p>
  <strong>Age 65 above year 2005:</strong>
  <%= @town_health_record.age_65_above_year_2005 %>
</p>

<p>
  <strong>Per capita income year 2000:</strong>
  <%= @town_health_record.per_capita_income_year_2000 %>
</p>

<p>
  <strong>Persons living below 200 percent poverty year 2000:</strong>
  <%= @town_health_record.persons_living_below_200_percent_poverty_year_2000 %>
</p>

<p>
  <strong>Percent all persons living below 200 percent poverty level year 2000:</strong>
  <%= @town_health_record.percent_all_persons_living_below_200_percent_poverty_level_year_2000 %>
</p>

<p>
  <strong>Percent adequacy prenatal care  kotelchuck :</strong>
  <%= @town_health_record.percent_adequacy_prenatal_care__kotelchuck_ %>
</p>

<p>
  <strong>Percent c section deliveries 2005 2008:</strong>
  <%= @town_health_record.percent_c_section_deliveries_2005_2008 %>
</p>

<p>
  <strong>Number of infant deaths 2005 2008:</strong>
  <%= @town_health_record.number_of_infant_deaths_2005_2008 %>
</p>

<p>
  <strong>Infant mortality rate  deaths per 1000 live births  2005 2008:</strong>
  <%= @town_health_record.infant_mortality_rate__deaths_per_1000_live_births__2005_2008 %>
</p>

<p>
  <strong>Percent low birthweight 2005 2008:</strong>
  <%= @town_health_record.percent_low_birthweight_2005_2008 %>
</p>

<p>
  <strong>Percent multiple births 2005 2008:</strong>
  <%= @town_health_record.percent_multiple_births_2005_2008 %>
</p>

<p>
  <strong>Percent publicly financed prenatal care 2005 2008:</strong>
  <%= @town_health_record.percent_publicly_financed_prenatal_care_2005_2008 %>
</p>

<p>
  <strong>Percent teen births 2005 2008:</strong>
  <%= @town_health_record.percent_teen_births_2005_2008 %>
</p>

<%= link_to 'Edit', edit_town_health_record_path(@town_health_record) %> |
<%= link_to 'Back', town_health_records_path %>
